label {
	color: white;
}

#mainwindow {
	background-color: black;
}

#btmenu {
	background-color: black;
	border-radius: 0;
	padding: 0px;
	padding: 0 10px;
}

#title {
	background-color: #DD1414;
	font-size: 20px;
}

#bar {
	background-color: blue;
}

#btsec {
	background-color: #4B4343;
	border-radius: 0;
	border-right: none;
	border-bottom: none;
}

#btsec2 {
	background-color: black;
	border-radius: 0;
	border-right: none;
	border-bottom: none;
}

#nosongbox {
	background-color: #4B4343;
	border-radius: 20px;
	padding: 10px;
}

#nosonglabel1 {margin-top: 20px;}
#nosonglabel2 {margin-bottom: 10px;}

#wdg {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#songname {font-size: 22px;}
#songmenu {
	border-radius: 0px;
	padding: 0px;
	border-width: 0px;
	font-size: 20px;
}
#songbutton {
	border-radius: 0px;
	border-width: 0px;
}

#player {
	background-color: black;
}

scale trough {
	background-color: gray;
	color: red;
}

scale slider {
	background-color: white;
}

scale highlight {
	background-color: #DD1414;
	color: red;
}

#player_song_name {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 18px;
}
